@import '../../../../styles/globals';

.nav-item {
    padding-bottom: 5%;
    
    a {
        color: black;
    }
}

@media only screen and (max-width: 989px) {
    .nav-item {
        float: none;

        a {
            font-size: 4vw;  
        }
    }
} 

@media only screen and (min-width: 990px) {
    .nav-item {
        padding-bottom: 0;

        a {
            color: white;
        }
    }
}
