@import '../../../styles/globals';

.side-drawer {
    position: fixed;
    z-index: 3;
    background-color: $theme-background;
    width: 280px;
    max-width: 60%;
    height: 100%;
    left: 0;
    top: 0;
    padding-top: 60px;}

@media only screen and (min-width: 990px) {
    .side-drawer {
        display: none;
    }
}
