@import "./globals";

form {
  background-color: white;
  padding: 3%;
  margin-top: 5%;

  h5 {
    color: #424242;
  }

  .btn {
    background-color: $theme-secondary;
    margin: 2% 0;
    &:hover {
      background-color: darken($theme-secondary, 10%);
    }
  }
}

input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-color: $theme-secondary;
  box-shadow: none;
}