@import './fonts';

// theme
$theme-primary: #052d47;
$theme-secondary: #0f4c75;
$theme-background: #d5dbe0;

hr {
  margin: 4% 0;
  border-top: 5px solid $theme-secondary;
}

.c-div {
  margin: 4% 8%;
}

.highlight {
  color: $theme-primary;
  font-weight: bold;
}

@media only screen and (min-width: 641px) and (max-width: 1024px){
  .c-div {
    margin: 0 6%;
  }
}

@media only screen and (min-width: 1025px) {
  hr {
    margin: 2% 0;
  }

  .c-div {
    margin: 0 6%;
  }
}
