@import "../../styles/globals";

.section {
  margin: 5%;
}

.highlight:hover {
  color: darken($theme-primary, 10%);
}

@media only screen and (min-width: 1025px) {
  .section {
    margin: 2%;
  }
}
